<% provide(:title,"Home") %>

  
  <% if signed_in? %>
  <section>
    <div class="container">
      
      <div id="my-info">
        <div class="img-name">
          <div class="my-photo">
          
            <% if current_user.avatar.attached? %>
              <%= link_to image_tag(current_user.avatar.variant(resize_to_fill:[150,150]), alt: "avatar"), edit_user_registration_path%>
            <% else %>
              <%= link_to image_tag("nurse.png",alt: "avatar" ,width: "100px"), edit_user_registration_path %>
            <% end %>

          </div>
          
          <p><%= link_to current_user.username, user_path(id: current_user.id) %><p>
        </div>

        <div class="my-action">
        
          <div class="my-page">
            <%= link_to "マイページへ", user_path(id: current_user.id) %>
          </div>
          
          <div class="new-blog">
            <%= link_to "自分の看護を発信する", new_blog_path %>            
          </div>        

          <div class="my-game">
            <%= link_to "スキルを鍛える", game_path %>
          </div>
          
        </div>





      </div>
    
      <div class="col-md-10 blog-index">
        <h3>みんなの看護</h3>
        <ol class="blog">
          <%= render Blog.limit(10) %>
        </ol>
        
        <div class="action-btn btn-blue blog-all"><%= link_to "もっと見る", blogs_path %></div>
      </div>


    </div>
  </section>

  
  <% else %>
   <div class="top">
    <%= image_tag 'TOP.png', width: "100%", class: "toppng rwd-off" %>
    <h2 class="mb5">すべてのナースのためのWEBサービス</h2>
  </div>
  
  <section>
    <div class="container blogs">
      <div class="img-center">
        <%= image_tag 'like.png',width: "250px"%>
      </div>
      <div class="Explanation">
        <p>ナース専用の記事投稿サービス</p>
        <p>あなただけの看護が誰かの看護を色づけます。<br>
          あなたの看護をアウトプットしませんか？<br>
          あなたしか発信できないことがあります。<br></p>
      
        <p>色鮮やかなナースたちの看護・情報・知識が集まる場所を作ろう</p>
        <div class="btn btn-lg btn-pink"><%= link_to "みんなの看護を見る", blogs_path %></div>
      </div>  
    </div>  
 </section>
  
  <section>
    <div class="skill container">
      <div class="img-center">
        <%= image_tag 'skill.png' ,width: "250px"%>  
      </div>
      <div class="Explanation">
        <p>ナースに必須のスキルを鍛える</p>
        <p>ナースのための様々なゲームを提供。<br>
        タイピング、忘却曲線を使ったクイズゲーム<br>
        あなたのハードスキルを鍛えましょう。<br>
        会員登録であなたの成長も視覚化できます</p>
        <div class="btn btn-lg btn-blue">
          <% if signed_in?%>
            <%= link_to "タイピングゲームをやってみる", game_path %>
          <% else %>
            <%= link_to "ゲームをやってみる", guest_game_path %>
          <% end %>          
        </div>
      </div>
    </div>
  </section>
  
 <section>
   <div class="introduction container">
      <h2>すべてのナースと共に</h2>
      <div class="text-center">
        <p>「With Nurse」はナース、ナースマン、これからナースになる人、ナースだった人、すべてのナースと作る新しいWebサービスです。</p>
        <p>今のあなたの心に刺さる「看護」を伝えてくれるナースは、あなたの近くにはいないかもしれません。それはどこかにいる元ナース、まだナースじゃないナースの卵、あなたと同じ状況のナースかもしれません。あなたがいるその場所だけでは決して見ることができない「看護」が、他の場所にはあります。</p>
        <p>「あなたの看護」も大切にしながら、新しく刺激的な「看護」に触れられる場所を作りたい、そして全てのナースのためになるサービスを作りたい。</p>
        <p>そんな思いで「With Nurse」はできています。</p>
        <p>あなたのナースライフを「With Nurse」と共に歩みましょう</p>
      </div>
      <div class="btn btn-lg btn-yellow">無料会員登録</div>
   </div>
  </section>

<% end %>