<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>With Nurse ナース専用のソーシャルメディア</title>-->
<!--</head>-->
<!--<body>-->
<% provide(:title,"Home") %>
  <div class="top">
    <%= image_tag 'TOP.png', width: "100%", class: "toppng" %>
    <h2 class="mb5">すべてのナースのためのWEBサービス</h2>
  </div>
  
  <section>
    <div class="container">
      <div class="blogs">
        <div>
          <%= image_tag 'like.png',width: "250px"%>
        </div>
        <div class="Explanation">
          <p>ナース専用のソーシャルメディア<p>
          <p>あなただけの看護が誰かの看護を色づけます。<br>
          あなたの看護をアウトプットしませんか？<br>
          あなたしか発信できないことがあります。<br></p>
      
          <p>色鮮やかなナースたちの看護・情報・知識が集まる<br>
          場所を作ろう</p>
          <div class="btn btn-lg btn-pink">みんなの看護を見る</div>
        </div>  
      </div>
    </div>  
 </section>
  
  <section>
    <div class="skill container">
      <div>
        <%= image_tag 'skill.png' ,width: "250px"%>  
      </div>
      <div class="Explanation">
        <p>Nurseに必要に必須のスキルを鍛える</p>
        <p>ナースのための様々なゲームを提供。<br>
        タイピング、忘却曲線を使ったクイズゲーム<br>
        あなたのハードスキルを鍛えましょう。<br>
        会員登録であなたの成長も視覚化できます</p>
        <div class="btn btn-lg btn-blue">タイピングゲームをやってみる</div>
      </div>
    </div>
  </section>
  
 <section>
   <div class="introduction container">
      <h2>すべてのナースと共に</h2>
      <p>「With Nurse」はナース、ナースマン、これからナースになる人、ナースだった人、<br>
      すべてのナースと作る新しいWebサービスです。</p>
      <p>今のあなたの心に刺さる「看護」を伝えてくれるナースは、あなたの近くにはいないかもしれません。<br>
      それはどこかにいる元ナース、まだナースじゃないナースの卵、あなたと同じ状況のナースかもしれません。<br>
      あなたがいるその場所だけでは決して見ることができない「看護」が、他の場所にはあります。</p>
      <p>「あなたの看護」も大切にしながら、新しく刺激的な「看護」に触れられる場所を作りたい、<br>
      そして全てのナースのためになるサービスを作りたい。</p>
      <p>そんな思いで「With Nurse」はできています。</p>
      <p>あなたのナースライフを「With Nurse」と共に歩みましょう</p>
      <div class="btn btn-lg btn-yellow">無料会員登録</div>
   </div>
  </section>

  <footer>
    <div class="footer-contents">
      <div class="footerLeft">
        <div class="logo-title">
          <%= image_tag 'logo2.png' %>
          <h1><%= link_to "With Nurse", root_path , class: "Editlink"%></h1>
        </div>
        
        <p>ナース専用のソーシャルメディアサービスです</p>
        <p>あなただけの看護を発信しませんか？</p>
      </div>
      
      <div class="footerCenter">
        <p>メニュー</p>
        <ul>
          <li>記事一覧TOP</li>
          <li>ゲーム一覧</li>
          <li>ヘルプ</li>
        </ul>
      </div>
      
      <div class="footerRight">
        <p>ご利用にあたって</p>
        <ul>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
        </ul>
      </div>
    </div>
    
    <p class="copylight">Copylight © 2021 With-Nurse.com. All Rights Reserved.</p>
  </footer>
<!--</body>-->
<!--</html>-->


