<div class="users-blog">
  <hr>
  <li id="blog-<%= blog.id %>">
    <div class="blog-title"><%= link_to blog.title, blog_path(blog) %></div>
    <div class="content"><%= strip_tags(blog.content.to_s).gsub(/[\n]/,"").strip.truncate(20) %></div>
    <div class="flex">
      <div class="user"><%= link_to blog.user.username, blog.user %></div>
      <div class="timestamp">
        <%= l blog.created_at %> に投稿
      </div>
    </div>
    
    <hr>
  </li>
</div>