<div class="users-blog">
 <ul>
  <li id="blog-<%= blog.id %>" class="flex">
    <div>
      <div class="blog-title">
        <%= link_to blog.title, blog_path(blog) %>
      </div>
      
      <div class="tags">
          <ul class="flex" style="list-style:none;">
            <% blog.tags.each do |tag| %>
                <li class="tag-list">
                  <%= tag.name %>
                </li>
            <% end %>      
          </ul>
      </div>

      <div class="content">
        <%= strip_tags(blog.content.to_s).gsub(/[\n]/,"").strip.truncate(20) %>
      </div>
      <% if user_signed_in? %>
        <%if current_user.already_liked?(blog) %>
          <div class="liked"><%= "#{blog.likes.count} Good Nurse" %></div>
        <% else %>
          <div class="like"><%= "#{blog.likes.count} Good Nurse" %></div>      
        <% end %>
      
      <% else %>
        <div class="like"><%= "#{blog.likes.count} Good Nurse" %></div>
      <%end%>


      <div class="flex">
        <div class="small-avatar">
          <% if blog.user.avatar.attached? %>
            <%= link_to image_tag(blog.user.avatar.variant(resize_to_fill:[30,30]), alt: "avatar"), user_path(blog.user)%>
          <% else %>
            <%= link_to image_tag("nurse.png",alt: "avatar" ,width: "100px"), user_path(blog.user) %>
          <% end %>          
        </div>

        <div class="user">
          <%= link_to blog.user.username, blog.user %>
        </div>
      </div>
      <div class="timestamp">
        <%= l blog.created_at %> に投稿
      </div>
    </div>

    <% if current_user == blog.user %>
      <div class="edit-icon">
        <%= link_to edit_blog_path(blog) do %>
          <i class="fas fa-edit fa-lg"></i>
        <% end %>
      </div>

      <div class="delete-link">
        <%= link_to blog, method: :delete, data:{ confirm:"削除しますか？"} do %>
        <i class="fas fa-trash-alt fa-lg"></i>
        <% end %>
      </div>
    <%end%>

  </li>
 </ul>
  <hr>
</div>