 <div class="container blog-content">
    
  <h1><%= @blog.title%></h1>
  
  <div class="tags">
    <ul class="flex" style="list-style:none;">
      <% @blog.tags.each do |tag| %>
          <li class="tag-list">
            <%= tag.name %>
          </li>
      <% end %>      
    </ul>
  </div>

  <div class="flex">
    
    <% if user_signed_in? %>
      <div id="like">
        <like-button :user-id="<%= current_user.id %>" :blog-id="<%= @blog.id%>"></like-button>
      </div>
    <% else %>
       <div class="like">
        <%= "#{@blog.likes.count} Good Nurse" %>
       </div> 
    <% end %>

    <% if user_signed_in? && @blog.user == current_user %> 
      <div class="edit-icon">
        <%= link_to edit_blog_path(@blog) do %>
          <i class="fas fa-edit fa-lg"></i>
        <% end %>
      </div>

      <div class="delete-link">
        <%= link_to @blog, method: :delete, data:{ confirm:"削除しますか？"} do %>
        <i class="fas fa-trash-alt fa-lg"></i>
        <% end %>
      </div>
    <%end%>

  </div>

  <hr>
  
  <div class="col-md-8">
    <%= @blog.content %>
  </div>

  
 </div>