
<div class="container">
   
  <div class="signup_title">
    <%= image_tag 'logo2.png', alt: "With Nurse logo", width: "60px", height: "50px" %>
    <h2>ログイン</h2>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control email-field" %>
    </div>
  
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control password-field" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field text-left boxcheck">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me , class: "remember_me" %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>

<hr>

  <div class="external-login">
    <%= render "devise/shared/links" %>
  </div>
  
<div class="password_link">
<h4>パスワードをお忘れの方はこちら</h4>

<p><%= link_to "パスワード変更", new_user_password_path %></p>

</div>
