  <footer>
  <div class="container">
    <div class="footer-contents">
      <div class="footerLeft">
        <div class="logo-title">
          <%= link_to image_tag("logo2.png",alt: "With Nurse logo" ,width: "80px"), root_path %>
          <h1><%= link_to "With Nurse", root_path , class: "link"%></h1>
        </div>
        
        <p>ナース専用のソーシャルメディアサービスです</p>
        <p>あなただけの看護を発信しませんか？</p>
      </div>
      
      <div class="footerCenter">
        <p>メニュー</p>
        <ul>
          <li><%= link_to "記事一覧", blogs_path, class: "link" %>TOP</li>
          <li>
            <% if signed_in?%>
              <%= link_to "ゲーム", game_path, class: "link" %>
            <% else %>
              <%= link_to "ゲーム", guest_game_path, class: "link" %>
            <% end %>
          </li>
          <li><%= link_to "ヘルプ", help_path , class: "link" %></li>
          <li><%= link_to "With Nurseについて" , about_path , class: "link" %></li>

          <% if signed_in? %>
            <li><%= link_to "プロフィール変更", edit_user_registration_path, class: "link" %></li>

            <li><%= link_to "ログアウト", sign_out_path, class: "link" %></li>
          <% end %>
        </ul>
      </div>
      
      <div class="footerRight">
        <p>ご利用にあたって</p>
        <ul>
          <li><%= link_to "利用規約", terms_path , class: "link" %></li>
          <li><%= link_to "プライバシーポリシー", privacy_path , class: "link" %></li>
        </ul>
      </div>
    </div>
    
    <p class="copylight">Copylight © 2021 withnurse.com. All Rights Reserved.</p>
  </div>
  </footer>